<!-- <h1>Home</h1>
<p>You're logged in with Angular 6 & JWT!!</p>
<div>
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </ul>
</div>
<p><a [routerLink]="['/login']">Logout</a></p> -->



<div class="wrapper">

  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">

          <h1 class="presentation-title">Nest Egg</h1>

          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">A modern organization startup kit</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">
      A Docker centric curated platform for modern micro-service based organizations.
    </h6>
  </div>

  <div class="main">
    <!-- <app-components></app-components> -->
    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Market Leaders</h2><br />
            <p class="description">
              Nest Egg has curated some of the market leading Open Source Software initiatives and integrated them in a
              way that allows you startup an entire organization platform quickly.
            </p><br />
            <p class="description">
                    Designed with both Developers and DevOps in mind, a development environment can be up and running with two Docker-Compose commands.
                    
                  </p><br />
            <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo</a>
            <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">Download Source</a>
          </div>

          <div class="col-lg-6 col-md-12" style="margin-top:70px;">

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col angular-logo" pTooltip="Docker">
                <img src="assets/img/logos/docker-whale-home-logo.png" alt="Docker">
              </div>
              <div class="p-col angular-logo" pTooltip="NestJS">
                <img src="assets/img/logos/logo-nest.svg" style="width:50px;" alt="NestJS">
              </div>
              <div class="p-col angular-logo" pTooltip="Angular">
                <img src="assets/img/angular2-logo.png" alt="Angular">
              </div>
              <div class="p-col angular-logo" pTooltip="mongoDB">
                <img src="assets/img/logos/mongodb-logo-white.png" style="width:110px;margin-right:30px;" alt="MongoDB">
              </div>
              <div class="p-col angular-logo" pTooltip="Rabbit MQ">
                <img src="assets/img/logos/rabbitmqlogo.png" style="margin-left:20px;width:50px;" alt="RabbitMQ">
              </div>
            </div>

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-3">
              </div>

              <div class="p-col angular-logo" pTooltip="Elastic Search">
                <img src="assets/img/logos/nav-elasticsearch-full.svg" style="width:50px;" alt="">
              </div>
              <div class="p-col angular-logo" pTooltip="Logstash">
                <img src="assets/img/logos/nav-logstash-full.svg" style="width:50px;" alt="">
              </div>
              <div class="p-col angular-logo" pTooltip="Kibana">
                <img src="assets/img/logos/nav-kibana-full.svg" style="width:50px;" alt="">
              </div>

              <div class="p-col-3">
              </div>

            </div>

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-4">
              </div>

              <div class="p-col angular-logo" pTooltip="Traefik">
                <img src="assets/img/logos/traefik.logo.svg" style="width:50px;" alt="">
              </div>

              <div class="p-col angular-logo" pTooltip="Rex Ray">
                <img src="assets/img/logos/Rex-Ray-Logo.png" style="width:50px;" alt="">
              </div>

              <div class="p-col-4">
              </div>

            </div>

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-5">
              </div>

              <div class="p-col-2 angular-logo" pTooltip="PrimeNG">
                <img src="assets/img/logos/prime-ng-logo.png" style="margin-top:15px;margin-left:-30px;width:125px;"
                  alt="">
              </div>

              <div class="p-col-5">
              </div>

            </div>

            <div class="p-grid p-align-center vertical-container">
              <div class="p-col-5">
              </div>

              <div class="p-col-2 angular-logo" pTooltip="Ghost CMS">
                <img src="assets/img/logos/ghost_logo_big-300x180.png" style="margin-top:25px;margin-left:-30px;width:125px;"
                  alt="">
              </div>

              <div class="p-col-5">
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Complete with examples</h2>
            <p class="description">
                The kit comes standard with web application infrastructure designed using leading software architecure/design patterns. 
                Onboarding, administration, marketing & reporting modules come pre-built and ready to customize.
                More importantly, looking at them will give you a picture of what you can build with this powerful startup kit.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
            <div class="card card-register">
              <h3 class="title">Welcome</h3>
              <div class="social-line text-center">
                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <form class="register-form">
                <label>Email</label>
                <div class="input-group form-group-no-border">
                  <span class="input-group-addon">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>

                <label>Password</label>
                <div class="input-group form-group-no-border">
                  <span class="input-group-addon">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-danger btn-block btn-round">Register</button>
              </form>
              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
              </div>
            </div>
            <div class="col text-center" routerLinkActive="active">
              <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Onboarding Pages</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-dark">
      <div class="container">
        <div class="row example-page">
          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/landing']">
              <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive"
                style="width: 100%">
              <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
            </a>
          </div>

          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/user-profile']">
              <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive"
                style="width: 100%">
              <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Do you like what you see?</h2>
            <p class="description">Cause if you do, it can be yours for Free. <br><br>Hit the button below and download it.
              Start a new project or use it to migrate legacy architecture and enterprises into the modern age.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 download-area ml-auto mr-auto">
            <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download from
              Github</a>
          </div>
        </div>
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Thank you for supporting us!</h3>
          </div>

        <!-- 
            <div class="text-center col-md-12 col-lg-8">
            <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
              <i class="fa fa-google-plus"></i> Google
            </a>
            <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
              <i class="fa fa-facebook-square"></i> Facebook
            </a>
            <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round"
              rel="tooltip" title="Star on Github">
              <i class="fa fa-github"></i> Star
            </a>
          </div> 
        -->

        </div>
      </div>
    </div>

  </div>
</div>
